<!-- products/templates/products/product_form.html -->
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if form.instance.pk %}Edit Product{% else %}Add New Product{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'products/style/style.css' %}">
</head>
<body>
    <h1>{% if form.instance.pk %}Edit Product{% else %}Add New Product{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
    <a href="{% url 'product_list' %}">Cancel</a>
</body>
</html>
