<!-- products/templates/products/product_detail.html -->
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ product.name }} Detail</title>
    <link rel="stylesheet" type="text/css" href="{% static 'products/style/style.css' %}">
</head>
<body>
    <h1>{{ product.name }} Detail</h1>
    <p><strong>Description:</strong> {{ product.description }}</p>
    <p><strong>Category:</strong> {{ product.category }}</p>
    <p><strong>Price:</strong> ${{ product.price }}</p>

    <a href="{% url 'product_update' pk=product.pk %}">Edit</a>
    <form action="{% url 'product_delete' pk=product.pk %}" method="post" style="display: inline;">
        {% csrf_token %}
        <input type="submit" value="Delete">
    </form>
    <a href="{% url 'product_list' %}">Back to Product List</a>
</body>
</html>
